body {
	background: 100vh;
	background-color: black;
	margin: 0;	
	padding: 20px 10px;
	font-family: "Open Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.home-container {
	margin-left: auto;
	margin-right: auto;
	height:inherit;
}

* {
	box-sizing: border-box; //to avoid suprise with padding and borders
	//background-color: black;
}

a {
	text-decoration: none;
	color: black;
}
